@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Ownglyph_ParkDaHyun';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-image-url: var(--bg-image-url, '/bgdark.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('/bgdark.png');
  background-size: auto 100vh;
  background-repeat: repeat-x;
  background-position: center;
  background-attachment: fixed;
}

/* 별도의 클래스로 분리 */
.paper-background {
  background: var(--background) var(--bg-image-url);
  background-size: auto 100vh;
  background-repeat: repeat-x;
  background-position: center;
  background-attachment: fixed;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}

.backface-hidden {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.transform-gpu {
    transform: translateZ(0);
}

.perspective-1000 {
    perspective: 1000px;
}

.transform-style-3d {
    transform-style: preserve-3d;
}
